@media (max-width: 768px) {
    #subscribe-form .form-group {
        margin-bottom: 5px;  /* ckan default of 30px is too big */
    }
    #subscribe-form label {
        margin-bottom: 5px;
    }
    #subscribe-form.form-inline .btn {
        margin-left: 0;
    }
}
#subscribe-form .control-label {
    margin-bottom: 5px;
}
#subscribe-form input {
    display: block;
    margin-bottom: 5px;
    padding: 6px 6px 6px 6px;
    width: auto;
    width: -moz-available;
    width: -webkit-fill-available;
}

#subscribe-form .btn {
    width: auto;
    width: -moz-available;
    width: -webkit-fill-available;
    display: block;
    margin-left: 0px;
}

/* manage page */
table#subscriptions {
    margin: 5px;
    background-color: #eeeeff;
}
#subscriptions tr:nth-child(2n) {
    background-color: #f2f2f2;
}
#subscriptions td, th {
    text-align: left;
    padding: 4px;
}
#subscriptions form {
    margin: 0;
}
#subscriptions select#frequency {
    width: 120px;
}
