{% ckan_extends %}
{#
    Package sidebar

    pkg    - The package dict that owns the resources.
#}

{% block nums %}
  {% if c.user %}
    {# Followers count #}
    {{ super() }}
  {% endif %}
{% endblock %}
{% block follow_button %}
  {% if c.user %}
    {% if not hide_follow_button %}
      <div class="follow_button" title="Follow to be notified of changes to this dataset and receive email updates if enabled in user settings." aria-label="Follow to be notified of changes to this dataset and receive email updates if enabled in user settings.">
        {{ h.follow_button('dataset', pkg.id) }}
      </div>
      {% endif %}
  {% else %}
    {% set ckan_29_or_higher = h.subscribe_ckan_version(h.ckan_version()) >= h.subscribe_ckan_version('2.9') %}
    {% set type = 'asset' if ckan_29_or_higher else 'resource' %}
    {% snippet 'snippets/subscribe_' ~ type ~ '.html' %}
    <div class="nums">
      {% import 'macros/form.html' as form %}
      <!-- {{ form.errors(error_summary) }} -->
      <label class="control-label"
             for="subscribe-email"
             title="Receive email updates for this dataset without needing to login."
             aria-label="Receive email updates for this dataset without needing to login.">{{ _('Sign up for email updates') }}</label>
      <form method='post' action="{{ h.url_for('/subscribe/signup') }}" id="subscribe-form" enctype="multipart/form-data" class="form-inline">
        <!-- (Bootstrap 3) <div class="form-group input-group-sm"> -->
          <input id="subscribe-email" type="email" name="email" class="form-control input-small" value="" placeholder="Email Address" required />
          <input id="subscribe-dataset" type="hidden" name="dataset" value="{{ pkg.name }}"` />
          <input id="subscribe-dataset-title" type="hidden" name="dataset-title" value="{{ pkg.title }}"` />
        <!-- </div> -->
        <button type="submit" class="btn btn-primary round-corner-btn" name="save">{{ _('Subscribe Now') }}</button>
      </form>
    </div>
  {% endif %}
{% endblock %}
